To make their own profits, the insurance company(insurer) must collect more premiums than the amount paid to the insured person.

For this, the insurance company invests a lot of time and money in creating a model that accurately predicts health care costs.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn import preprocessing

In [2]:
data = pd.read_csv("insurance.csv")

In [3]:
data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [4]:
le=preprocessing.LabelEncoder()

In [5]:
a=le.fit(data['smoker'])
a

LabelEncoder()

In [6]:
data['smoker']=le.transform(data['smoker'])

In [7]:
le.fit(data['sex'])

LabelEncoder()

In [8]:
data['sex']=le.transform(data['sex'])

In [9]:
le.fit(data['region'])

LabelEncoder()

In [10]:
data['region']=le.transform(data['region'])

In [11]:
data.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       3  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       1  21984.47061
4   32    1  28.880         0       0       1   3866.85520

In [12]:
# d=pd.get_dummies(data)
# d.head(10)

In [13]:
correlation=data.corr('pearson')
abs(correlation['charges']).sort_values()

region      0.006208
sex         0.057292
children    0.067998
bmi         0.198341
age         0.299008
smoker      0.787251
charges     1.000000
Name: charges, dtype: float64

Body Mass Index (BMI): People with high BMI have a significantly higher rate of premium than people with normal BMI. The reason again being this can lead to various ailments such as heart problems, joint problems, diabetes, to name a few. People with higher BMI may even need specialized treatment, for normal procedures like pregnancy. Thereby making even simple process a little tedious and affects the premium rates.

Gender:Women are more likely to visit doctors, take prescriptions, and be subject to chronic diseases.

Age: Most young individuals have premiums at much lower rates since they have fewer identified and unidentified diseases than older individuals. Young policyholders are less likely to have health problems and are more likely not to visit a doctor.

Smoking: Smoking is a heavyweight negative when it comes to life insurance premiums. Smoking is closely linked to cardio vascular disease and to numerous forms of cancer.

Region:that shared climate, lack of healthy food options, cultural aversion to exercise etc.

In [14]:
x = np.array(data[['bmi','age','smoker']])
y = np.array(data['charges'])
y=y.reshape(-1,1)

considering all the features,the err is 9.9%

by removing region, error is 9.9%,hence region doesnt impact

by remoing sex,error is 10.1%,hence sex impacts

by removing smoker,error is 18%,hence smoker impacts

by removing age,error was increased to 11.6%, hence age impacts

by removing children,error was 9.5%,it also doesnt impact as error is decreased

by removing bmi,error was 10.4%, hence it impacts

When we consider bmi,age,smoker; the error obtained is 9% ,if we consider sex,the error obtained is 9.9%, hence sex is not considered

In [15]:
# x=np.array(data['region'],dtype='float')
# y=np.array(data['charges'])
# x=x.reshape(-1,1)
# y=y.reshape(-1,1)

By considering bmi alone, error is 18.4%

By considering age alone, error is 17.8%

By considering smoker alone, error is 12%

By considering sex alone, error is 19%

By considering children alone, error is 19%

By considering region alone, error is 17.8%

In [16]:
scaler=MinMaxScaler()

In [17]:
X=scaler.fit_transform(x)
Y=scaler.fit_transform(y)

In [18]:
xtrain,xtest,ytrain,ytest=train_test_split(X,Y,test_size=0.3)

In [19]:
xtrain.size

2808

In [20]:
# ytrain

In [21]:
from sklearn.linear_model import LinearRegression

In [22]:
regressor = LinearRegression()

In [23]:
regressor.fit(xtrain,ytrain)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [24]:
y_pred =regressor.predict(xtest)

In [25]:
# y_pred

In [26]:
# for i in zip(y_pred,ytest):
#     print(i)

In [27]:
from sklearn.metrics import mean_squared_error,r2_score

In [28]:
np.sqrt(mean_squared_error(ytest,y_pred))

0.09054311984908167

In [29]:
r2_score(ytest,y_pred)

0.7930764232330073